@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat Alternates;
}

body{
    background-color: #141516;
}

button {
    cursor: pointer;
}

.main-box {
    width: 40%;
    box-shadow: 1px 1px 5px #000;
    padding: 30px 20px;
    border-radius: 20px;
    margin: 4% auto;
    background-color: #fff;
}

.input-box {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.output h3{
    margin-bottom: 15px;
}

.input-box input {
    width: 70%;
    padding: 10px;
    border-radius: 50px;
    border: 2px solid #ff7b00;
    outline: none;
    font-weight: 500;
}

.input-box button {
    width: 30%;
    border-radius: 50px;
    background-color: #ff7b00;
    color: #fff;
    border: 0;
    font-weight: 500;
    border: 2px solid #ff7b00;
    cursor: pointer;
    transition: .4s;
}

.input-box button:hover {
    background-color: transparent;
    color: #000;
}

.output-ol li {
    padding: 10px 10px;
    box-shadow: 1px 1px 5px #000;
    display: flex;
    gap: 13px;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    overflow-x: scroll;
    margin-bottom: 10px;
}

.output-ol li::-webkit-scrollbar {
    height: 7px;
}

.output-ol li::-webkit-scrollbar-track {
    background: #ce8846;
    cursor: pointer;
    border-radius: 10px;
}

.output-ol li::-webkit-scrollbar-thumb {
    background-color: #ff7b00;
    cursor: pointer;
    border-radius: 10px;
}

.output-ol li button{
    padding: 5px 10px;
    border: 0;
    color: #fff;
}

.delete {
    background-color: red;
}

.edit{
    background-color: green;
}

@media (max-width:768px) {
    .main-box {
        width: 90%;
    }
}
